{
    "variables":{
      "default_sis"  :"SiteScope_Instanse_1"
    },
	"instances":{
        "SiteScope_Instanse_1": {
                "url": "http://10.10.0.50:9080/SiteScope/api",
                "Authorization": "Basic YWRtaW46YWRtaW4="
         },
        " SiteScope_Instanse_X": {
                "url": " http://[your host]:8080/SiteScope/api",
                "Authorization": "Basic [your base64 encoded auth]"
         }
    },
    "help_commands":{
        "Show/reload configuration ": {
                "Description": "Show or reload SiteScope instances configuration file",
                "Syntax": "show SiteScope config file\nreload SiteScope config file",
                "Examples":"sisbot SiteScope show config file\nsisbot SiteScope reload config file"
         },
	  "Add acknowledgement": {
                "Description": "Add acknowledgement to entity",
                "Syntax": "add ack for [Entity full path] disable [Comment]\nadd ack for [Entity full path] enable [Comment]",
                "Examples":"sisbot SiteScope add ack for chat-op disable I'm on it\nsisbot SiteScope add ack for chat-ops enable it's now ok"
         },
        "Enable/disable Entity": {
                "Description": "Enable or disable entity , monitor or group",
                "Syntax": "sitescope [enable | disable] [entity type] [Entity full path]",
                "Examples":"sisbot sitescope disable group chat-ops\nsisbot sitescope enable group chat-ops\nsisbot sitescope enable monitor chat-ops/chat-ops-host\nsisbot sitescope disable monitor chat-ops/chat-ops-host"
         },
        "Get monitors list": {
                "Description": "Get monitors list (recursive) in group",
                "Syntax": "get monitors in group [Group full path] \nget monitors recursive in group [Group full path]",
                "Examples":"sisbot sitescope get monitors in group chat-ops\nsisbot sitescope get monitors recursive in group chat-ops "
         },
        "health": {
                "Description": "get all monitors status for target or tag",
                "Syntax": "health of [Target | Tag]",
                "Examples":"sisbot sitescope health of Tag\n"
         },
        "Search monitor/group": {
                "Description": "Search monitors, group , tag or all",
                "Syntax": "sitescope search [entity type] for [Entity name]",
                "Examples":"sisbot sitescope search monitors for chat-ops\nsisbot sitescope search group for chat-ops\nsisbot sitescope search tag for chat-ops/chat-ops-host\nsisbot sitescope search all for chat-ops/chat-ops-host"
         },
        "Run monitor/group": {
                "Description": "Run monitor, for monitors in group set group's path",
                "Syntax": "sitescope run monitors [Entity full path]",
                "Examples":"sisbot sitescope run monitors chat-ops/chat-ops-host\nsisbot sitescope run monitors chat-ops"
         }
    }
}
